# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual Environments
venv/
.venv/
env/

# ----------------------------
# React / Node
# ----------------------------
node_modules/
dist/

# ----------------------------
# Environment Variables
# ----------------------------
.env
.env.*

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Docker
# ----------------------------
docker-data/